{% extends "base.html"%}

{% block page_content %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>FranklinPortfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static '/img/love.jpg' %}" rel="icon">
  <link href="{% static '/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static '/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static '/css/style.css' %}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <!-- use an image logo -->
      <a href="index.html" class="logo"><img src="static/img/trp logo.jpg" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="#work">Work</a></li>
          <li><a class="nav-link scrollto " href="#blog">Blog</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <div id="hero" class="hero route bg-image" style="background-image: url(static/img/font.jpg)">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="hero-title mb-4">I am Franklin Ifunanyachukwu</h1>
          <p class="hero-subtitle"><span class="typed" data-typed-items="Data Analysis,  Graphics Design, Website Design, FrontEnd Development, BackEnd Development, FullStack Development, Freelancer, Photographer"></span></p>
        </div>
      </div>
    </div>
  </div><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                      <div class="about-img">
                        <img src="static/img/love.jpg" class="img-fluid rounded b-shadow-a" alt="">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                      <div class="about-info">
                        <p><span class="title-s">Name: </span> <span>Franklin Ifunanyachukwu</span></p>
                        <p><span class="title-s">Profile: </span> <span>Full Stack Developer</span></p>
                        <p><span class="title-s">Email: </span> <span>ikejohnfrancis94@yahoo.com</span></p>
                        <p><span class="title-s">Phone: </span> <span>+2348133569249</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="skill-mf">
                    <p class="title-s">Skill</p>
                    <span>HTML</span> <span class="pull-right">85%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>CSS3</span> <span class="pull-right">75%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>PYTHON</span> <span class="pull-right">70%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>JAVASCRIPT</span> <span class="pull-right">90%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>DATA ANALYSIS</span> <span class="pull-right">80%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>GRAPHICS DESIGN</span> <span class="pull-right">82%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 82%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>PHOTOGRAPHY</span> <span class="pull-right">90%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>ADMINISTRATOR</span> <span class="pull-right">95%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        About Me
                      </h5>
                    </div>
                    <p class="lead">
                      <strong>My name is Franklin, 28 years old, and I've just graduated from KachiTech Institute. 
                        Looking for my first job, I decided to go with Full Stack Developer, 
                        since I understand that it is impossible to succeed in almost any business without some online presence. 
                        Hence I know the opportunities are there and will stay there. But I am not one who would opt for freelancing, 
                        since I do not enjoy that part of the job-looking for clients, doing marketing, keeping books.</strong> 
                    </p>
                    <p class="lead">
                      I simply enjoy working on the code, developing beautiful websites, and that's why I apply for this job with you. 
                      To my greatest hobbies belong computer games (I limit myself to 1 hour playing a day, 
                      in order to not waste that much time playing), and cooking.
                    </p>
                    <p class="lead">
                      <strong>Let me introduce myself in 7 words. Responsible, creative, open-minded, friendly and ambitious web developer. 
                        This is how I see myself, and hope you will give me a chance to prove my words in the job, or at least in this interview</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services-mf pt-5 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Services
              </h3>
              <p class="subtitle-a">
                <strong>Test and See, is the Best Word. I Provide you the Best Service.</strong>
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-briefcase"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Web Design</h2>
                <p class="s-description text-center">
                  Creation of Websites and Pages to reflect a company's brand and information 
                  and ensure a user-friendly experience. Appearance and design are 
                  incorporated as vital elements whether you're designing a website, mobile app or maintaining content on a web page.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-card-checklist"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Web Development</h2>
                <p class="s-description text-center">
                  Web development is the work involved in developing a website for the Internet or an intranet. 
                  Web development can range from developing a simple single static page of plain text to complex web applications, 
                  electronic businesses, and social network services
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-bar-chart"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Photography</h2>
                <p class="s-description text-center">
                  I use it, to bring your business to the on knowns, It is employed in many fields of science, manufacturing (e.g., photolithography),
                  and business, as well as its more direct uses for art, film and video production, recreational purposes, 
                  hobby, and mass communication.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-binoculars"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Responsive Design</h2>
                <p class="s-description text-center">
                  web design is about creating web pages that look good on all devices! 
                  A responsive web design will automatically adjust for different screen.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-brightness-high"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Graphic Design</h2>
                <p class="s-description text-center">
                  Academic discipline and applied art whose activity consists in projecting visual 
                  communications intended to transmit specific messages to social groups.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-calendar4-week"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Marketing Services</h2>
                <p class="s-description text-center">
                  Services Marketing is a form of marketing businesses that provide a service to 
                  their customers use to increase brand awareness and sales
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Counter Section ======= -->
    <div class="section-counter paralax-mf bg-image" style="background-image: url(static/img/counters-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container position-relative">
        <div class="row">
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="bi bi-check"></i></span>
              </div>
              <div class="counter-num">
                <p data-purecounter-start="0" data-purecounter-end="450" data-purecounter-duration="1" class="counter purecounter"></p>
                <span class="counter-text">WORKS COMPLETED</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="bi bi-journal-richtext"></i></span>
              </div>
              <div class="counter-num">
                <p data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1" class="counter purecounter"></p>
                <span class="counter-text">YEARS OF EXPERIENCE</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="bi bi-people"></i></span>
              </div>
              <div class="counter-num">
                <p data-purecounter-start="0" data-purecounter-end="550" data-purecounter-duration="1" class="counter purecounter"></p>
                <span class="counter-text">TOTAL CLIENTS</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="bi bi-award"></i></span>
              </div>
              <div class="counter-num">
                <p data-purecounter-start="0" data-purecounter-end="48" data-purecounter-duration="1" class="counter purecounter"></p>
                <span class="counter-text">AWARD WON</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Counter Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="work" class="portfolio-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Portfolio
              </h3>
              <p class="subtitle-a">
                <strong>My Recent Works, Take a Look and Get Back to Me For More Information</strong>
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/img/work-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="static/img/work-1.jpg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="artists-hover">
                      <p>
                          <strong>Name:</strong>
                          FranklinPortfolio
                      </p>

                      <p>
                          <strong>BirthDate:</strong>
                          Jannnary 30, 2023
                      </p>

                      <p>
                          <strong>InTo:</strong>
                          Websites Development And Maintence
                      </p>

                      <hr>

                      <p class="mb-0">
                          <strong>Adress Channel:</strong>
                          <button type="button" class="btn btn-primary"><a href="http://www.y2k11.com.ng" target="_blank">CheckOut</a>
                            </button>
                      </p>
                  </div>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design by</span> / <span class="w-date">30 march. 2023</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="https://wa.link/8wt75p" target="_blank"> <span class="bi bi-plus-circle"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/img/work-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="static/img/work-2.jpg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="artists-hover">
                      <p>
                          <strong>Name:</strong>
                          FranklinPortfolio
                      </p>

                      <p>
                          <strong>BirthDate:</strong>
                          Jannnary 30, 2023
                      </p>

                      <p>
                          <strong>InTo:</strong>
                          Websites Development And Maintence
                      </p>

                      <hr>

                      <p class="mb-0">
                          <strong>Adress Channel:</strong>
                          <button type="button" class="btn btn-primary"><a href="http://www.y2k11.com.ng" target="_blank">CheckOut</a>
                            </button>
                      </p>
                  </div>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design by</span> / <span class="w-date">30 march. 2023</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="https://wa.link/8wt75p" target="_blank"> <span class="bi bi-plus-circle"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/img/work-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="static/img/work-3.jpg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="artists-hover">
                      <p>
                          <strong>Name:</strong>
                          FranklinPortfolio
                      </p>

                      <p>
                          <strong>BirthDate:</strong>
                          Jannnary 30, 2023
                      </p>

                      <p>
                          <strong>InTo:</strong>
                          Websites Development And Maintence
                      </p>

                      <hr>

                      <p class="mb-0">
                          <strong>Adress Channel:</strong>
                          <button type="button" class="btn btn-primary"><a href="http://www.y2k11.com.ng" target="_blank">CheckOut</a>
                            </button>
                      </p>
                  </div>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design by</span> / <span class="w-date">30 march. 2023</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="https://wa.link/8wt75p" target="_blank"> <span class="bi bi-plus-circle"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/img/work-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="static/img/work-4.jpg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="artists-hover">
                      <p>
                          <strong>Name:</strong>
                          FranklinPortfolio
                      </p>

                      <p>
                          <strong>BirthDate:</strong>
                          Jannnary 30, 2023
                      </p>

                      <p>
                          <strong>InTo:</strong>
                          Websites Development And Maintence
                      </p>

                      <hr>

                      <p class="mb-0">
                          <strong>Adress Channel:</strong>
                          <button type="button" class="btn btn-primary"><a href="http://www.y2k11.com.ng" target="_blank">CheckOut</a>
                            </button>
                      </p>
                  </div>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design by</span> / <span class="w-date">30 march. 2023</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="https://wa.link/8wt75p" target="_blank"> <span class="bi bi-plus-circle"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/img/work-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="static/img/work-5.jpg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="artists-hover">
                      <p>
                          <strong>Name:</strong>
                          FranklinPortfolio
                      </p>

                      <p>
                          <strong>BirthDate:</strong>
                          Jannnary 30, 2023
                      </p>

                      <p>
                          <strong>InTo:</strong>
                          Websites Development And Maintence
                      </p>

                      <hr>

                      <p class="mb-0">
                          <strong>Adress Channel:</strong>
                          <button type="button" class="btn btn-primary"><a href="http://www.y2k11.com.ng" target="_blank">CheckOut</a>
                            </button>
                      </p>
                  </div>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design by</span> / <span class="w-date">30 march. 2023</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="https://wa.link/8wt75p" target="_blank"> <span class="bi bi-plus-circle"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/img/work-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="static/img/work-6.jpg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="artists-hover">
                      <p>
                          <strong>Name:</strong>
                          FranklinPortfolio
                      </p>

                      <p>
                          <strong>BirthDate:</strong>
                          Jannnary 30, 2023
                      </p>

                      <p>
                          <strong>InTo:</strong>
                          Websites Development And Maintence
                      </p>

                      <hr>

                      <p class="mb-0">
                          <strong>Adress Channel:</strong>
                          <button type="button" class="btn btn-primary"><a href="http://www.y2k11.com.ng" target="_blank">CheckOut</a>
                            </button>
                      </p>
                  </div>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design by</span> / <span class="w-date">30 march. 2023</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="https://wa.link/8wt75p" target="_blank"> <span class="bi bi-plus-circle"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <div class="testimonials paralax-mf bg-image" style="background-image: url(static/img/overlay-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="testimonial-box">
                    <div class="author-test">
                      <img src="static/img/testimonial-2.jpg" alt="" class="rounded-circle b-shadow-a">
                      <span class="author">Tony Elumelu</span>
                    </div>
                    <div class="content-test">
                      <p class="description lead">
                        A designer knows he has achieved perfection not when there is nothing left to add, 
                        but when there is nothing left to take away. just love him and the ways he is do his works, very effective and efficient.
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-box">
                    <div class="author-test">
                      <img src="static/img/testimonial-4.jpg" alt="" class="rounded-circle b-shadow-a">
                      <span class="author">Patrick McKenzie</span>
                    </div>
                    <div class="content-test">
                      <p class="description lead">
                        Saint John De Beloved, is good in what he knowns. Every great developer you know got there by solving problems they were unqualified
                         to solve until they actually did it.
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Testimonials Section -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Blog
              </h3>
              <p class="subtitle-a">
                We Teach You What We Know About Web Development By Reading Through Our Blog 
                Beacause Information is Power
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img">
                <a href="blog-single.html"><img src="static/img/post-1.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">Travel</h6>
                  </div>
                </div>
                <h3 class="card-title"><a href="blog-single.html"><strong>More Ideas About Travel</strong></a></h3>
                <p class="card-description">
                  <h5>Different Types of Tourise</h5>
                  <p><strong>Domestic Tourism</strong>:Taking Holiday and Trips in your own Country. 
                  an example of Domestic Tourism for UK Residents would be a Family from Birmingham 
                  in the Midlands taking a short break to the seaside restort of.. </p>
                </p>
              </div>
              <div class="card-footer">
                <div class="post-author">
                  <a href="#">
                    <img src="static/img/testimonial-2.jpg" alt="" class="avatar rounded-circle">
                    <span class="author">Morgan Freeman</span>
                  </a>
                </div>
                <div class="post-date">
                  <span class="bi bi-clock"></span> 10 min
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img">
                <a href="blog-single.html"><img src="static/img/post-2.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">Web Design</h6>
                  </div>
                </div>
                <h3 class="card-title"><a href="blog-single.html"><strong>See More Ideas About Web Design</strong></a></h3>
                <p class="card-description">
                  A good web design is easys to use, aesthetically pleasing, and suits the user group and brand of
                  the website. many webpages are Designed with a focus on simplicity that no extraneous informatin and functionality.
                </p>
              </div>
              <div class="card-footer">
                <div class="post-author">
                  <a href="#">
                    <img src="static/img/testimonial-2.jpg" alt="" class="avatar rounded-circle">
                    <span class="author">Morgan Freeman</span>
                  </a>
                </div>
                <div class="post-date">
                  <span class="bi bi-clock"></span> 10 min
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img">
                <a href="blog-single.html"><img src="static/img/post-3.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">Graphic Design</h6>
                  </div>
                </div>
                <h3 class="card-title"><a href="blog-single.html">Ideas about Graphic Design</a></h3>
                <p class="card-description">
                  Graphic design is a profession, academic discipline and applied art whose activity consists in projecting 
                  visual communications intended to transmit specific messages to social groups, with specific objectives. 
                  Graphic design is an interdisciplinary branch of design and of the fine arts
                </p>
              </div>
              <div class="card-footer">
                <div class="post-author">
                  <a href="#">
                    <img src="static/img/testimonial-2.jpg" alt="" class="avatar rounded-circle">
                    <span class="author">Morgan Freeman</span>
                  </a>
                </div>
                <div class="post-date">
                  <span class="bi bi-clock"></span> 10 min
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(static/img/overlay-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="contact-mf">
              <div id="contact" class="box-shadow-full">
                <div class="row">
                  <div class="col-md-6">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Send Message Us
                      </h5>
                    </div>
                    <div>
                      <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                            </div>
                          </div>
                          <div class="col-md-12 text-center my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                          </div>
                          <div class="col-md-12 text-center">
                            <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="title-box-2 pt-4 pt-md-0">
                      <h5 class="title-left">
                        Get in Touch
                      </h5>
                    </div>
                    <div class="more-info">
                      <p class="lead">
                        <strong> If get in touch with someone, you contact them by writting to them or phoning them.
                          if you are, keep, or stay in touch with them, you write, phone, or visite each other regularly.
                          at y2k11, we will love to work with you as one of of our clients. we do what you see. one love.</strong>
                      </p>
                      <ul class="list-ico">
                        <li><span class="bi bi-geo-alt"></span> <strong>NO.2, Baale Street Opposite Badore Secondary Sch. Lekki-Ajah Lagos State Nigeria</strong> </li>
                        <li><span class="bi bi-phone"></span><strong>+234-81335-69249</strong> </li>
                        <li><span class="bi bi-envelope"></span><strong>ikejohnfrancis94@yahoo.com</strong> </li>
                      </ul>
                    </div>
                    <div class="socials">
                      <ul>
                        <li><a href=""><span class="ico-circle"><i class="bi bi-facebook"></i></span></a></li>
                        <li><a href=""><span class="ico-circle"><i class="bi bi-instagram"></i></span></a></li>
                        <li><a href=""><span class="ico-circle"><i class="bi bi-twitter"></i></span></a></li>
                        <li><a href=""><span class="ico-circle"><i class="bi bi-linkedin"></i></span></a></li>
                        <li><a href="https://wa.link/8wt75p"><span class="ico-circle"><i class="bi bi-whatsapp"></i></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-box">
            <p class="copyright">&copy; Copyright <strong>y2k11</strong>. All Rights Reserved</p>
            <div class="credits">
              Designed by <a href="#">Franklin Ifunanyachukwu</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static '/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static '/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static '/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static '/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static '/js/main.js' %}"></script>

  
</body>

</html>
{% endblock %}
